.buttonWhite_b105e9 {
  color: white;
}
.pill_c993da, .increasedActivityPill__2620e {
  background: var(--background-shading);
  border: 2px solid var(--main-color);
}
.isUnread_c2654d .content_c2654d {
  color: var(--main-color);
  margin-bottom: 2rem;
  margin-right: 3rem;
}
.divider_d5deea:has(.content_c2654d) {
  background: transparent;
}
.group-spacing-16 .divider_d5deea.hasContent_d5deea {
  border: none;
  background: none;
}
.divider_c2654d {
  border: none;
  background: none;
}
.group-spacing-16 .divider_d5deea {
  border: none;
  margin: 10px;
  margin-bottom: 20px;
  background: none;
}
.members_cbd271 .member_a31c43 .activityText_a31c43 {
  color: var(--alt-color);
}
.song-tIdBpF {
  font-weight: 500;
  color: var(--alt-color);
}
.interpret-F93iqP {
  font-weight: 500;
  font-size: 14px;
  color: var(--alt-color);
}
.members_cbd271 .member_a31c43 .activityText_a31c43 {
  color: var(--alt-color);
  transition: all 0.3s ease-in-out;
}
.members_cbd271 .member_a31c43 .activityText_a31c43 strong {
  color: var(--alt-color);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.members_cbd271 .member_a31c43 .activityText_a31c43 strong {
  color: var(--alt-color);
}
.privateChannels_f0963d .channel_c91bad .interactive_c91bad.interactiveSelected_c91bad .activityText_c91bad strong {
  color: var(--alt-color);
}
.privateChannels_f0963d .channel_c91bad .interactive_c91bad .activityText_c91bad strong {
  color: var(--alt-color);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.activity_c91bad {
  color: var(--alt-color);
}
/*remove borders from friends list */
.peopleListItem_d51464 {
  border-top: transparent;
}
.channelTextArea_d0696b:focus-within {
  box-shadow: 0 0 2px 2px var(--alt-color);
}
.channelTextArea_d0696b {
  box-shadow: 0 0 2px 2px hsla(0, 0%, 51%, 0.5);
}
.voiceChannelsButton_a08117 {
  border: 2px solid var(--main-color);
}
.voiceChannelsButton_a08117:hover {
  border: 2px solid var(--hover-color);
  background: transparent;
}
.imageDetails-1t6Zms {
  color: var(--url-color);
}
button.vc-ranb-button.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  color: var(--text-normal);
  box-sizing: border-box;
  padding: 5px;
}
button.vc-ranb-button.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85:hover {
  background-color: var(--hover-color);
  border-radius: 50px;
  color: var(--text-normal);
  transition: all 0.6s ease-in-out;
}
/* Make most buttons round */
.button_dd4f85 {
  border-radius: 50px;
}
/* Remove annoying border around second nitro option. */
.tier2ColumnOuter_b1bbf4 {
  display: none;
}
.tier0ColumnOuter_b1bbf4, .tier2ColumnOuter_b1bbf4 {
  display: none;
}
.typeWindows_a934d8 > .wordmark_a934d8:before {
  color: var(--alt-color);
  content: 'Winter Wonderland';
  font-size: 14px;
  text-shadow: unset;
  filter: unset;
  font-family: 'Lovely Home';
}
.typeWindows_a934d8 > .wordmark_a934d8 > svg > g > path {
  fill: var(--alt-color);
}
.typeWindows_a934d8 > .wordmark_a934d8 > svg {
  color: var(--alt-color);
  filter: unset;
}
.typeWindows_a934d8 > .wordmark_a934d8:after {
  color: var(--alt-color);
  content: 'v1.3.3';
  font-family: 'Bookerly Display Regular';
  margin-bottom: 5px;
}
.toolbar_fc4f04 .iconWrapper_fc4f04 > svg:not(.icon_fc4f04) {
  color: #fff;
  filter: unset;
  transition: unset;
}
.toolbar_fc4f04 .iconWrapper_fc4f04:hover > svg:not(.icon_fc4f04) {
  color: #fff;
}
.toolbar_fc4f04 .iconWrapper_fc4f04:hover > svg:not(.icon_fc4f04) {
  filter: drop-shadow(0 0 15px transparent);
  color: unset;
}
button.button_adca65.enabled_adca65:hover {
  color: #fff;
  background-color: hsla(0, 0%, 30%, 0.5);
}
.button_adca65 .enabled_adca65 .button_dd4f85 .lookBlank_dd4f85 .colorBrand_dd4f85 .grow_dd4f85 .button_adca65:hover {
  color: #fff;
  background-color: hsla(0, 0%, 30%, 0.5);
}
.increasedActivityMainCard-2ry6hI.isOpen_d331f1, .increasedActivityMainCard-2ry6hI.isOpen__036bf, .mainCard_a6d69a.isOpen_d331f1, .mainCard_a6d69a.isOpen__036bf {
  background-color: rgba(0, 0, 0, 0.4);
}
.unreadPill_c2654d {
  background-color: var(--alt-color);
  height: 25px;
  width: 55px;
  position: absolute;
  right: 50%;
  border-radius: unset;
  display: flex;
  padding-left: 6px;
  color: ivory;
}
.unreadPillCap_c2654d {
  display: none;
}
.unreadPillCapStroke_c2654d {
  fill: var(--alt-color);
  color: var(--alt-color);
}
.group-spacing-16 .divider_d5deea.beforeGroup_d5deea {
  border-radius: unset;
  margin-top: 45px;
  margin-bottom: 50px;
}
.group-spacing-16 .divider_d5deea.hasContent_d5deea .unreadPill_c2654d {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
.divider_d5deea.isUnread_c2654d {
  background: transparent;
}
.newMessagesBar_cf58b5:before {
  opacity: 0.3;
  background: var(--main-color);
}
.containerWrapper_e18107 {
  background: var(--background-overlay);
  border: 2px solid var(--main-color);
}
/* Role Names in member sidebar */
.members_cbd271 .membersGroup_cbd271 {
  color: var(--alt-color);
  opacity: 1;
  text-shadow: 0 0 2px;
}
/* The lines that go to either side of the role names on the members sidebar */
.members_cbd271 .membersGroup_cbd271:before, .members_cbd271 .membersGroup_cbd271:after {
  background: linear-gradient(to left, var(--main-color) 50%, transparent);
}
.username_f3939d {
  color: var(--alt-color);
}
.text_f7ebfd {
  color: var(--alt-color);
}
.activity_f7ebfd {
  color: var(--alt-color);
}
.activity_f7ebfd strong {
  color: var(--alt-color);
}
/* .header_ is the class of an element containing the username, timestamp and if the pronoun exists, */
/* it contains an element with the class .vc-pronoundb-compact but not on the last child. The DOM is something like .header > [username, timestamp+vc-pronound-compact, timestamp] */
@supports selector(a:has(+ a)) {
  .header_f9f2ca:has(.vc-pronoundb-compact) .timestampInline_f9f2ca:last-child, [class*='compact'] .header_39b23 .vc-pronoundb-compact:last-child {
      color: var(--alt-color);
 }
}
.message_d5deea .timestamp_f9f2ca {
  color: #fff;
  font-weight: bolder;
}
.icon_ad923e {
  color: var(--alt-color);
}
.content_c2654d {
  color: var(--alt-color);
}
.groupStart_d5deea:has(.blockedSystemMessage_c09d0f) {
  display: none;
}
/* Channel Catagory Names */
.sidebar_a4d4d9 :is(.containerDefault_a08117, .containerDragAfter_a08117, .containerDragBefore_a08117, .containerUserOver__91b97) .wrapper_a08117 .name_a08117 {
  color: var(--alt-color);
  text-shadow: 0 0 3px;
  opacity: 2;
}
[class^='theme-'] #vc-spotify-player {
  background: rgba(0, 0, 0, 0.4);
}
#vc-spotify-song-title {
  color: var(--alt-color);
}
.vc-spotify-artist, .vc-spotify-album {
  color: var(--alt-color);
}
.vc-spotify-ellipoverflow {
  color: var(--alt-color);
}
#vc-spotify-player {
  border: solid var(--alt-color);
  border-width: thin;
  margin-top: 10%;
}
#vc-spotify-player:hover {
  border: solid var(--hover-color);
  border-width: thin;
  margin-top: 10%;
}
.vc-notification-root {
  background-color: var(--background-overlay);
}
.vc-notification-root:hover {
  background-color: var(--hover-color);
}
.groupStart_d5deea:has(.blockedSystemMessage_c09d0f) {
  display: none;
}
.messageListItem_d5deea[id*='chat-messages-212324635356692500']:has(img[src*='704368256017891348']) {
  display: none;
}
/* // %userSettingsPremium */
.perkCard_d611db {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.4));
  border: 2px solid var(--main-color);
}
.theme-dark .tooltipGrey_b6c360 {
  background-color: var(--main-color) !important;
}
.streamPreview_ba4b17 {
  background: rgba(0, 0, 0, calc(var(--background-shading) * 0.7));
}
.selectedScreen_ba4b17 {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.7));
}
.userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b:not(.profileCustomizationPreview_ab876d) .userPopoutInner_c69a7b::before {
  display: none;
}
/* Settings*/
.standardSidebarView_c25c6d .sidebar_c25c6d .side_a0 .item_a0 {
  color: #fff;
}
/* Possibly outdated? */
.readAllButton {
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--main-color);
}
/* Possibly outdated? */
.readAllButton:hover {
  background-color: var(--hover-color);
  color: var(--main-color);
  transition: 0.6s ease-in-out;
}
/* Vencord read all plugin*/
button.vc-ranb-button.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  color: var(--text-normal);
  box-sizing: border-box;
  padding: 5px;
}
/* Vencord read all plugin*/
button.vc-ranb-button.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85:hover {
  background-color: var(--hover-color);
  border-radius: 50px;
  color: var(--text-normal);
  transition: all 0.6s ease-in-out;
}
/* Vencord Versioning Info*/
.line_c5a741 {
  color: #fff !important;
}
/*ping icon*/
.listItem_c96c45 .numberBadge__40d6f, .listItem_c96c45 .base__5ed84 {
  font-size: calc(var(--server-size) / 4);
  width: calc(var(--server-size) / 3) !important;
  height: calc(var(--server-size) / 3);
}
.listItem_c96c45 .baseShapeRound_df8943 {
  border-radius: 100%;
}
/* Make My Mention Different From Other Mentions without affecting #CHANNEL */
.theme-dark .mentioned_d5deea .mention {
  color: var(--alt-color) !important;
}
.mentioned_d5deea:before, .ephemeral_d5deea:before, .automodMessage_d5deea:before, .replying_d5deea:before, .highlighted_fc800f:before {
  width: 4px;
}
/* Better Mentions Pulse (after fix) */
.mentioned_d5deea .mention {
  background-color: transparent !important;
}
.theme-dark .mentioned_d5deea .mention {
  cursor: pointer;
  box-shadow: 0 0 0 var(--alt-color);
  animation: pulse 1.6s infinite;
}
.cozy_f9f2ca .messageContent_f9f2ca {
  padding-top: 1px;
}
@-webkit-keyframes pulse {
  0% {
      -webkit-box-shadow: 0 0 2px 2px transparent;
 }
  70% {
      -webkit-box-shadow: 0 0 2px 2px var(--alt-color);
 }
  100% {
      -webkit-box-shadow: 0 0 0 0 transparent;
 }
}
@keyframes pulse {
  0% {
      -moz-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
 }
  70% {
      -moz-box-shadow: 0 0 2px 2px var(--alt-color);
      box-shadow: 0 0 2px 2px var(--alt-color);
 }
  100% {
      -moz-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
 }
}
.vc-rdb-modal-footer .vc-rdb-input {
  background: rgba(0, 0, 0, 0.4);
}
/*Nyx Stuff */
/*profile animations*/
.userProfileOuter_c69a7b {
  overflow: visible;
}
.userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b:not(.profileCustomizationPreview_ab876d)::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: linear-gradient( 135deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100% );
  background-size: 300%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: border 6s linear infinite;
  z-index: -99;
  filter: blur(5px);
}
.bannerSVGWrapper_b32cc2 {
  border-radius: 8px 8px 0 0;
}
@keyframes border {
  0% {
      background-position: 0% 50%;
 }
  50% {
      background-position: 100% 50%;
 }
  100% {
      background-position: 0% 50%;
 }
}
/*Match User bg to chat bg */
.userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b:not(.profileCustomizationPreview_ab876d) .userPopoutInner_c69a7b {
  background: rgba(0, 0, 0, calc(var(--background-shading) * 0.5));
}
.layer_cd0de5:has(.userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b:not(.profileCustomizationPreview_ab876d))::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--user-popout-image) 0 0/100% 100% var(--user-popout-repeat) fixed;
  filter: grayscale(var(--user-popout-grayscale)) sepia(var(--user-popout-sepia)) invert(var(--user-popout-invert)) brightness(var(--user-popout-brightness)) contrast(var(--user-popout-contrast)) saturate(var(--user-popout-saturation)) blur(var(--user-popout-blur));
  width: auto;
  height: auto;
  z-index: -1;
}
.layer_cd0de5::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background-overlay);
  width: auto;
  height: auto;
  z-index: -1;
}
.userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b:not(.profileCustomizationPreview_ab876d) .userPopoutInner_c69a7b::before {
  display: none;
}
.eyebrow_dc00ef {
  overflow: hidden !important;
}
.input_f8bc55.focused_f8bc55, .input_f8bc55:focus {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.input_f8bc55:focus, .input_f8bc55.focused_f8bc55 {
  box-shadow: none;
}
.input_f8bc55 {
  background-color: transparent;
  box-shadow: none;
}
.input_f8bc55.flexCenter_ec1a20 {
  box-shadow: 0 0 2px 2px var(--main-color);
}
.input_f8bc55.flexCenter_ec1a20:hover {
  box-shadow: 0 0 2px 2px var(--hover-color);
}
.lookFilled_dd4f85.colorWhite_dd4f85 {
  color: #fff !important;
  background: transparent !important;
  border: 2px solid var(--main-color);
}
.lookFilled_dd4f85.colorWhite_dd4f85:hover {
  color: var(--hover-color) !important;
  background: transparent !important;
  border: 2px solid var(--hover-color);
  transition: 1s ease-in-out !important;
}
.shineContainer_a985a2.buttonShine_fb742e.guildBoostCtaBoostShine_cbe7a3 {
  display: none !important;
}
/* Mod View */
.userProfileOuterThemed_c69a7b.userPopoutOuter_c69a7b, .userProfileOuterThemed_c69a7b.userProfileOuter_c69a7b {
  background: transparent !important;
}
/*Inside messageble channel*/
.channelTextArea_d0696b {
  background: rgba(0, 0, 0, calc(var(--background-shading) * 0.1));
}
.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0));
  transform: scale(1.5);
}
/* Okay so this is a weird one but it's like the popout for statuses */
.separator_d90b3d {
  display: none;
}
/* Vencord Plugin Descriptions? */
.h5_c46f6a, .label_c46f6a, .legend_c46f6a {
  color: #fff;
}
/* Some kinda boxes. So far only seen on vencord plugins */
.theme-dark .modal_ed23b8, .theme-dark .root_f9a4c9 {
  background: rgba(0, 0, 0, 0.8);
}
/* home -> shop mosiac background on top */
.root_a3b6be {
  display: none;
}
/* Summaries in chat BETA */
.topicsPillContainer_cf58b5 {
  background: rgba(0, 0, 0, 0.6);
}
.topicsPillContainer_cf58b5:hover {
  background: rgba(0, 0, 0, 0.8);
}
.newTopicsBarContainer_cf58b5 {
  background-color: var(--main-color);
  opacity: .5 
}
.topicsPillCaret_cf58b5 {
  background: var(--main-color);
  color: #fff;
}
.topicsPillCaret_cf58b5:hover {
  background: var(--hover-color);
  color: #fff;
}
.topicsPillTextSelected_cf58b5 {
  background: rgba(0, 0, 0, 0.8);
}
.topicsDropdownHeading_cf58b5 {
  background: rgba(0, 0, 0, 0.8);
}
.topicsScroller_cf58b5 {
  background: rgba(0, 0, 0, 0.8);
}
.container_b1a27b:hover {
  background: rgba(0, 0, 0, 0.8);
}
.thumbIcon_b1a27b {
  color: #fff;
  background: var(--main-color);
}
.summaryFeedbackWrapper_cabeb6 {
  display: none;
}
.summaryEndIcon_cabeb6 {
  color: var(--alt-color);
  background: transparent;
  margin-right: 93.5%;
  width: 2.5rem;
  height: 3rem;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: auto;
}
.summaryStartIcon_cabeb6 {
  color: var(--alt-color);
  width: 2.5rem;
  height: 3rem;
  font-weight: 900;
  margin-left: 42px;
}
/* Home Icon Parent */
.wrapper_f90abb:hover .childWrapper_f90abb, .wrapper_f90abb.selected_f90abb .childWrapper_f90abb {
  background-color: transparent;
  color: #fff;
}
.integrationWrapper_e2a436 {
  background: var(--backdrop-image);
}
/* Add a status - full profile view */
.theme-dark .statusBubbleOuter_e6ac4a:before {
  display: none;
}
.statusText_e6ac4a {
  color: #fff;
}
.theme-dark .statusBubbleOuter_e6ac4a:after {
  display: none;
}
.statusBubble_e6ac4a {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
}
.theme-dark .statusBubbleOuter_e6ac4a {
  border: transparent;
}
.custom-profile-theme.theme-dark .statusBubbleOuter_e6ac4a {
  border: transparent;
}
.custom-profile-theme .background_e6ac4a {
  --custom-status-bubble-background-coloor: transparent
}
.theme-dark .background_e6ac4a {
  background: transparent;
}
.statusBubbleShape_e6ac4a {
  border-radius: 16px;
}
.statusBubbleOuter_e6ac4a {
  background: transparent
}
.wrapper_f7e168 .button_f7e168:hover {
  background-color: var(--main-color);
}
.container_b64375 {
  background: transparent;
  border: transparent;
}
.custom-profile-theme .container_b64375 {
  background: transparent;
  border-color: transparent;
}


.theme-dark .giftCardButton_d8f41e {
  border-color: var(--main-color);
  color: #fff;
}
.theme-dark .giftCardButton_d8f41e:hover {
  border-color: var(--hover-color);
  color: #fff;
}

/* Bots...why are they different?????? */
.userProfileOuterUnthemed_c69a7b .statusBubbleOuter_d0a252::before {
  display: none;
}

.userProfileOuterUnthemed_c69a7b .statusBubbleOuter_d0a252::after {
  display: none;
}

/* Gifted in chat */
.giftCardButton_d8f41e {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.6));
}
/* Enable clips now */
.container_ff9ac4 {
  background: rgba(0, 0, 0, 0.6)
}
.headerText_a0 {
  overflow: hidden;
}

/* activity in chat */
.container_a3d172 {
  background: rgba(0, 0, 0, 0.6);
}
/* Send voice message vencord plugin */
.vc-vmsg-preview {
  background: rgba(0, 0, 0, 0.4);
}

.button_adcaac.buttonColor_adcaac.buttonActive_adcaac:hover {
  background: var(--hover-color);
  color: #fff;
}

.lottieIcon_f73ef7 svg {
  fill: #fff;
  transform: none;
}

.button_adcaac.buttonColor_adcaac.buttonActive_adcaac {
  background-color: var(--hover-color);
}

/* Voice chat count */
.users_a5bc92, .total_a5bc92 {
  color: hsla(0,0%,100%,.75)
}

