/**

 * @name Vencord read all mod
 * @author therealjustsnow
 * @version 1
 * @description An addon to the Winter Wonderland theme
 * @source https://github.com/BabyBoySnow/SnowVision/blob/master/Addons/vencord_read_all_mod.css
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */

button.vc-ranb-button.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85 {
    position: relative;
    background: linear-gradient(.25turn, var(--main-color), var(--hover-color));
    border-radius: 50px;
    color: #fff;
    box-sizing: border-box;
    padding: 4px 8px;
    overflow: hidden;
    z-index: 1;
    filter: brightness(0.6);
    transition: filter 0.3s linear;
}

button.vc-ranb-button.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85:hover {
    filter: brightness(1);
}


button.vc-ranb-button.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85:hover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: conic-gradient(from 180deg, var(--main-color), var(--hover-color), var(--main-color));
    z-index: -1;
    border-radius: 50px;
    animation: swirl 5s ease-out infinite
}

@keyframes swirl {
    0% {
        background-size: 100%;
        transform: rotate(0deg);
    }

    100% {
        background-size: 100%;
        transform: rotate(360deg);
    }
}