/* DEFAULT SETTINGS */
:root {
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #982929;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #593695;
  --rs-invisible-color: #808080;
  --rs-self-speaking-color: hsl(180, 95%, 76%);
  --rs-phone-color: var(--rs-self-speaking-color);
  --rs-phone-visible: none;
  --server-size: 48px;
  --main-color: hsla(265, 100%, 50%, 1);
  --alt-color: rgba(135, 252, 252, 1);
  --hover-color: rgba(227, 61, 148, 1);
  --success-color: #43b581;
  --danger-color: #982929;
  --channel-unread: var(--alt-color);
  --channel-color: rgba(255, 255, 255, 0.6);
  --muted-color: rgba(255, 255, 255, 0.1);
  --channel-text-selected: #fff;
  --url-color: var(--alt-color);
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --offline-color: #808080;
  --streaming-color: #593695;
  --main-font: Bookerly Display Regular, Bookerly, Comic Sans MS, gg sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  --code-font: Hack Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-display: var(--main-font);
  --text-normal: #fff;
  --text-muted: rgb(114, 118, 125);
  --channels-width: 220px;
  --members-width: 240px;
  --background-shading: 0%;
  --background-overlay: rgba(0, 0, 0, 0.3);
  --background-image: url(https://i.imgur.com/kCndyb2.jpeg);
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-invert: 0%;
  --background-grayscale: 0%;
  --background-sepia: 0%;
  --background-blur: 0px;
  --backdrop-overlay: rgba(0, 0, 0, 0.0);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --user-popout-image: var(--background-image);
  --user-popout-position: var(--background-position);
  --user-popout-size: var(--background-size);
  --user-popout-repeat: var(--background-repeat);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-brightness: var(--background-brightness);
  --user-popout-contrast: var(--background-contrast);
  --user-popout-saturation: var(--background-saturation);
  --user-popout-invert: var(--background-invert);
  --user-popout-grayscale: var(--background-grayscale);
  --user-popout-sepia: var(--background-sepia);
  --user-popout-blur: calc(var(--background-blur) + 3px);
  --user-popout-overlay: rgba(0, 0, 0, 0.65);
  --user-modal-image: var(--background-image);
  --user-modal-position: var(--background-position);
  --user-modal-size: var(--background-size);
  --user-modal-repeat: var(--background-repeat);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-brightness: var(--background-brightness);
  --user-modal-contrast: var(--background-contrast);
  --user-modal-saturation: var(--background-saturation);
  --user-modal-invert: var(--background-invert);
  --user-modal-grayscale: var(--background-grayscale);
  --user-modal-sepia: var(--background-sepia);
  --user-modal-blur: calc(var(--background-blur) + 3px);
  --home-icon: url(https://i.imgur.com/PmIFJmU.png);
  --home-position: center;
  --home-size: 40px;
  --popout-color: rgba(0, 0, 0, 0.7);
  --modal-color: rgba(0, 0, 0, 0.5);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --font-primary: var(--main-font);
  --font-code: var(--code-font);
}
